
.header {
    background: #0090ff;
    color: #fff;
    padding: 10px;
    text-align: center;
    font-size: 18px;
  }
  
  .container-fluid {
    height: calc(100vh - 47px);
    background-image: url(./../IMAGENES/fondo.jpg);
    background-size: cover;
  }
  
  .form {
    padding: 10px;
    width: 400px;
    height: 300px;
    border: 1px #ccc solid;
    padding: auto;
    border-radius: 10px;
  }
  
  input {
    width: 100%;
    border: 1px #ccc solid;
  }
  
  .btn {
    width: 100%;
  }
  
  .is-invalid {
    border: 1px solid red;
  }
  
  .d-none {
    display: none;}