.registro{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    margin: auto;
    background-color:whitesmoke;
    border-style:ridge;
    text-align:center;
    text-transform: capitalize;
    width: 400px;
    height: 400px;
}
.header{
    padding: 10px;
    font-family:cursive;
    background-color: #0090FF;
    text-align: center;
}

body{
    background-image: url(IMAGENES\fondo.jpg);

}